body {
	background-color: #505050;
}

header {
	margin: 25.5px auto;
	position: relative;
	width: 1846px;
	height: 177px;
}

.container {
	position: relative;
	border-radius: 12.3px;
	background-color: #909090;
	box-shadow: 12px 9px 10px 4px rgba(0, 0, 0, 0.8);
}

#header_logo {
	position: absolute;
	left: 8px;
	top: 11px;
	width: 565px;
}

#header_loupe {
	position: absolute;
	right: 40px;
	bottom: -26px;
	width: 331px;
}

#header_reload {
	position: absolute;
	top: 12px;
	right: 13px;
	width: 26px;
}

#header_close {
	position: absolute;
	bottom: 12px;
	right: 13px;
	width: 26px;
}

main {
	position: relative;
	margin: 27px auto;
	position: relative;
	width: 1846px;
	height: auto;
	overflow: initial;
}

.left,
.right {
	z-index: 1;
	width: 200px;
}

.left {
	float: left;
	width: 181px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 15px 0;
}

.left img {
	width: 89px;
	margin-left: 42px;
	margin-top: 10px;
}

#left_look {
	position: relative;
	top: -11px;
	left: -8px;
	width: 90px;
	border-radius: 6px;
	border: 7px solid red;
}

#left_use {
	margin: 0 25%;
}

#left_speak {
	margin: 0 25%;
	margin-bottom: 20px;
}

.right {
	float: right;
	width: 180px;
	height: 522px;
	margin-right: 40px;
	padding: 15px 0;
}

.right img {
	float: right;
	width: 50%;
	margin-right: 25%;
	margin-top: 10px;
}

#bricks {
	position: absolute;
	width: 156px;
	height: 92px;
	top: 230px;
	left: 12px;
	background-image: url(resources/brick.jpg);
	background-repeat: repeat;
	background-size: 35% 45%;
}

.cluster {
	z-index: 1;
	display: inline-block;
	width: 1325px;
	height: 100%;
}

.cluster img {
	width: 98%;
	padding: 1%;
}

.abs {
	position: absolute;
	bottom: -113px;
	left: -58px;
	z-index: 2;
	width: 640px;
	height: 200px;
	padding: 10px 18px;
	background-color: #88FF89;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.abs p {
	font-size: 22px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0;
}

#abs_strong_text {
	font-size: 2em;
	font-weight: 700;
	font-family: 'Times New Roman', Times, serif;
}

#abs_shadow_text {
	text-shadow: 7px 4px 4px #DC143C;
}

#abs_italic_text {
	font-style: italic;
	font-size: 21px;
	position: relative;
	top: -5px;
	left: -5px;
}

.abs input {
	font-size: 18px;
	width: 490px;
}

.abs button {
	font-size: 18px;
}