
#mendeleevimg {
	margin: 0 auto;
	margin-left: 12%;
	width: 10%;
	height: 15%;
	display: block;
}

body {
	font-size: 100%;
}

#heading {
	font-size: 2vw;
}

#table {
	text-align: center;
	width: 76%;
	margin-top: 1%;
	margin-left: 12%;
}

.element {
	border: 0.5px solid black;
	width: calc((4vw + 4vw) / 2);
	height: calc((4.7vw + 4.7vw) / 2);
	color: black;
}

.element p {
	margin-top: calc((0.2vw + 0.2vw) / 2);
	margin-bottom: calc((0.1vw + 0.1vw) / 2);
}

.element .elem_symbol {
	font-size: calc((1.1vw + 1.1vw) / 2);
}

.elem_weight {
	font-size: calc((0.5vw + 0.5vw) / 2);
	text-align: right;
	margin-right: 0.2vw;
	color: black;
}

.elem_number {
	font-size: calc((0.5vw + 0.5vw) / 2);
	text-align: left;
	margin-left: 0.2vw;
	color: black;
}

.hiddenelem {
	margin: 2vh 0;
}

#zvezda {
	font-weight: bold;
	font-size: 2.5vh;
}

#legend {
	text-align: left;
	padding: 5vh 1vw;
}

#legend .legendSon {
	padding: 0 0.2vw;
	text-align: center;
	font-size: 1.2em;
	border: 0.5px solid #484848;
}

.transmet {
	background-color: #a7c0cd;
}

.alkmet {
	background-color: #e0e0e0;
}

.alkearthmet {
	background-color: #d3b8ae;
}

.metaloid {
	background-color: #d2ce56;
}

.polyatnonmet {
	background-color: #52c7b8;
}

.diatnonmet {
	background-color: #ffeb3b;
}

.noblegas {
	background-color: #4dd0e1;
}

.lactin {
	background-color: #ee98fb;
}

.actin {
	background-color: #ff94c2;
}

.posttransmet {
	background-color: #a4a4a4;
}
