table {
	width: 80%;
}

.title {
	font-style: oblique;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

.cart_main {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	min-width: 840px;
}

.validate {
	margin: 1vh auto;
}

#myform {
	text-align: center;
	padding: 5px;
	border: 1px dotted #ccc;
	margin: 2%;
}

.qty {
	width: 40px;
	height: 25px;
	text-align: center;
}

input.qtyplus {
	width: 25px;
	height: 25px;
}
input.qtyminus {
	width: 25px;
	height: 25px;
}

.exit {
	width: 120px;
	height: auto;
	text-align: center;
}
.exit input {
	width: 100px;
	height: 35px;
	padding: 5px 10px;
	margin-top: 15px;
	background-color: mediumseagreen;
	font-size: 0.7vw;
	font-weight: 800;
	text-align: center;
	cursor: pointer;
	color: white;
}