body {
	background-color: #ffd149;
}

form {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #039be5;
	box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.8);
	text-align: center;
	width: 27%;
	height: auto;
	margin: 25vh auto;
	padding-bottom: 3vh;
}

form input {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 1vw;
	text-align: left;
	box-shadow: inset 0px 0px 25px -5px rgba(0,0,0,0.55);
	cursor: grabbing;
	width: 75%;
	height: 8%;
	margin: 0.8vh auto;
}

::placeholder {
	font-size: 0.5vw;
	color: #b0bec5;
	font-style: italic;
}

.main_text {
	margin: 0 auto;
	font-size: 1.8vw;
	font-style: bold;
	letter-spacing: 2px;
	color: white;
}

.middle_text {
	margin: 0 auto;
	font-size: 0.7vw;
	font-style: oblique;
	color: white;
}
.middle_text a {
	margin: 0 auto;
	font-style: oblique;
	color: yellow;
	text-decoration: underline;
}
.middle_text a:hover {
	font-style: normal;
}

.errhide {
	font-size: 0.75vw;
	visibility: hidden;
}
.errvis {
	font-size: 0.75vw;
	color: #7f0000;
	font-style: bold;
	visibility: initial;
}

/* The Close Button */
.close {
	float: right;
	margin-right: 10px;
	margin-top: -5px;
	font-size: initial;
	font-weight: bold;
	color: white;
	cursor: pointer;
	text-decoration: none;
}
.close:hover,
.close:focus {
	text-decoration: none;
	cursor: pointer;
}

#butt {
	cursor: pointer;
	box-shadow: 0px 1px 0px -2px rgba(0,0,0,1);
	text-align: center;
	width: 30%;
}

#top-bar {
	margin-bottom: 1.5vh;
	width: 100%;
	height: auto;
	color: white;
	font-size: 11px;
	padding: 1% 0;
	background-color: #006db3;
}
