body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.adm {
	z-index: 2;
	width: 100%;
	height: auto;
	background-color: #007c91;
	text-align: right;
}

.headBtn {
	height: 100%;
	border: none;
	display: inline-block;
	padding: 0.4% 0.5%;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin-right: 1%;
	font-size: 0.6vw;
	display: inline-block;
	color: white;
	text-decoration: none;
	font-weight: 600;
}

.headBtn:hover {
	-webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart {
	height: 100%;
	border: none;
	display: inline-block;
	padding: 0.4% 0.5%;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin-right: 1%;
	font-size: 0.6vw;
	display: inline-block;
	text-decoration: none;
	color: #007c91;
}

.cart img {
	width: 1.5em;
}

.h_span {
	height: 100%;
	border: none;
	display: inline-block;
	padding-top: 0.45%;
	padding-bottom: 0.35%;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin-right: 1%;
	font-size: 0.6vw;
	display: inline-block;
	color: white;
	text-decoration: none;
	font-weight: 600;
}

header {
	z-index: 1;
	background-color: #00acc1;
	display: flex;
	align-items: center;
	/* horizontal */
	justify-content: center;
	width: 100%;
	-webkit-box-shadow: 0px 15px 35px -25px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 15px 35px -25px rgba(0,0,0,0.75);
	box-shadow: 0px 15px 35px -25px rgba(0,0,0,0.75);
}

.navbar {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 3fr 7fr;
}

.header-categories {
	text-align: right;
}

.header-categories a {
	display: inline-block;
	-webkit-margin-before: 1.3em;
	-webkit-margin-after: 1.3em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	text-decoration: none;
	font-size: 1.5vw;
	color: white;
	padding: 5px;
	font-weight: 600;
}

.logo a {
	text-decoration: none;
	font-weight: 900;
	font-size: 2vw;
	color: black;
}

.content {
	display: block;
	width: 75%;
	margin: 20px auto;
}

.products-row {
	display: grid;
	grid-template-columns: repeat(3, 33%);
	margin: auto;
	grid-auto-rows: minmax(25px, auto);
}

.product-thumbnail img {
	width: 100%;
}

.product-card {
	padding: 15px;
}

.product-price h2 {
	margin-top: -1vw;
	text-align: right;
	color: firebrick;
	font-weight: 900;
}

.button {
	margin: auto;
}

.buy {
	padding: 5px 50px;
	background-color: mediumseagreen;
	margin: auto;
	font-size: 1vw;
	font-weight: 900;
	text-align: center;
	cursor: pointer;
	color: white;
}

.coverimg {
	height: 40vw;
	background-size: cover;
	background-position: center, right;
	background-image: url(https://www.webberrestaurantgroup.com/wp-content/uploads/2016/08/GHG-scene-1600x934.jpg);
	-webkit-box-shadow: 0px 15px 35px -25px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 15px 35px -25px rgba(0,0,0,0.75);
	box-shadow: 0px 15px 35px -25px rgba(0,0,0,0.75);
}

.coverimg h1{
	margin:0px;
	padding: 30px 10%;
	color: white; 
	font-size: 5vw;
	text-shadow: 1px 1px 2px black, 0 0 1em lightgray;
}